* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

div#yeahyeahyeahs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: 999;
    background-color: #fff;
    border-top-right-radius: 8px;
}


header h2 {
    margin-bottom: 4px;
    text-align: center;
}

header fieldset {
    width: calc(100% - 8px);
    margin-bottom: 4px;
    padding: 4px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
}

header fieldset#radios label {
    display: block;
    padding: 2px 0;
    width: 100%;
}

header input[type='file'] {
    font-family: inherit;
    text-align: center;
}

header p {
    font-size: 0.8em;
}


header div#table-container {
    max-height: 50vh;
    overflow-y: scroll;
}

header table#js-averages {
    background-color: #eee;
    margin: 8px 0;
    border-radius: 4px;
}

header table#js-averages thead th {
    font-weight: 300;
    font-size: 0.8em;
    padding: 6px 0;
}

header table#js-averages tbody tr:nth-child(odd) {
    background-color: #eef;
}

header table#js-averages tbody tr td {
    padding: 2px;
}

header table#js-averages img {
    height: 1em;
}

header table#js-averages .smol {
    font-size: 0.6em;
    color: #555;
    font-weight: 400;
}

header table#js-averages .mono {
    font-size: 1.2em;
    font-family: 'Inconsolata', monospace;

}

header table#js-averages .right {
    text-align: right;

}

footer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 4px;
    z-index: 999;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    font-size: 0.8em;
}

footer a {
    color: darkblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.marker-inner i {
    color: #009;
}

/* isp name */
.marker-inner h1 {
    font-weight: 800;
}
.marker-inner h1 img {
    height: 1em;
    margin-right: 8px;
}
/* ping/speeds and date */
.marker-inner h2, .marker-inner h2 {
    font-weight: 600;
}

.marker-inner .smol {
    display: block;
    padding-left: 2.5em;
    font-size: 0.6em;
    color: #555;
    font-weight: 400;
}

.marker-inner span.mono {
    font-size: 1.5em;
    font-family: 'Inconsolata', monospace;
}

.leaflet-popup-close-button {
    transform: scale(1.5);
}

/* .marker-cluster {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
} */

@media screen and (max-width: 720px) {
    header {
        background-color: #fffa;
        width: calc(100% - 16px);
        border-top-left-radius: 8px;
    }

    header input[type='file'], header fieldset#radios, header table#js-averages {
        background-color: #eeea;
    }

    header table#js-averages tbody tr:nth-child(odd) {
        background-color: #eefa;
    }

    footer {
        background-color: #fffa;
    }
}

@media screen and (max-height: 720px) {
    header div#table-container {
        max-height: 15vh;
    }    
}